.container {
    display: flex;
    gap: 10px;
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    margin-bottom: 30px;
    min-height: 140px;
    align-items: flex-start;
    flex-wrap: wrap;
}

.box {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    transition: all 0.3s ease;
}

.box--color-primary {
    background-color: #cd9f4a;
}

.box--color-secondary {
    background-color: #3a9db1;
}

.box--rounded {
    border-radius: 20px;
}

.toggles {
    margin-bottom: 20px;
}

.toggles__button {
    padding: 10px 15px;
    cursor: pointer;
    margin-right: 10px;
    border: 1px solid #0056b3;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}
.toggles__button:hover {
    background-color: #0056b3;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
}