---
const year = new Date().getFullYear();
---

<footer>
  <div class="conteiner row">
    <p class="muted">{year} Mi Pagina</p>
    <a class="btn" href="na@na.com"> Contactanos</a>
  </div>
</footer>
