*{
    background: #eee;
}


#precio{
    color: red;
    
    font-size: 30px;
}

.products {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 10px;
}

.product-card{
    background: #fff;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 12px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow:  0 5px 10px rgba(0,0,0,0.5);
}

.product-card__image{
    width: 100%;
    border-radius: 6px;
}

.product-card__title{
    font-size: 18px;
    font-weight: bold;
    margin: 10px,0;
}

.product-card__description{
    font-size: 14px;
    color: #555;
    margin: 8px 0;
    }

.product-card__price{
    font-size: 22px;
    font-weight: bold ;
    color: #12972c;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.product-card__like-btn{
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    background: #2860c89e !important;
    cursor: pointer;
    color: #fff;

}

.product-card__like-btn:hover{
    background: #db4d4d ;
    color: #fff;
}

.product-card__like-btn--liked{
     background: #ff4d4d;
     color: #fff;
}

.product-card p{
    color:blue;
    font-weight: bold;
}

.product-card__title + p{
    color: red;
}

.product-card__title + article
{
    color: blueviolet;
    font-weight: bolder;
}


.product-card__price ~ a{
    background: #12972c ;
}




header h1 span{
    text-transform: uppercase;
    color: #db4d4d;
}

span:not(.parrafo){
    text-transform: lowercase;
    color: #12972c;
}   

