body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f9;
}

.libro-item {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    background-color: #fff;
}

.leido {
    border-left: 5px solid #4CAF50; /* Verde para leído */
}

.pendiente {
    border-left: 5px solid #FF9800; /* Naranja para pendiente */
}

h2 {
    color: #333;
}

p {
    margin: 5px 0;
}

.estado {
    font-weight: bold;
}