body {
    background-color: rgb(38, 67, 111);
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

h1 {
    color: red;
    font-size: 40px;
    font-family: sans-serif;
}

h2 {
    color: rgb(94, 153, 106);
    font-size: 30px;
    font-family: sans-serif;
    }

h3 {
    color: rgb(207, 200, 64);
    font-size: 30px;
    font-family: sans-serif;
    }

.cantantes {
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.text{
    text-align: justify;
}

ul li {
    font-weight: bold;
    margin-left: 20px;
}

ul li:hover{
    color: rgb(175, 36, 103);
    font-size: 20px;
}

img.foto {
    width: 300px;
    height: 300px;
    border-radius: 35px;
    border: goldenrod 6px solid;
    box-shadow: 4px 4px 15px rgb(158, 9, 121);
}

#pie {
    text-align: center;
    background-color: rgb(82, 107, 108);
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    border: 3px solid;
    border-color: black;
}